bld/*
bin/*
obj/*
*/ipch/*
ipch/*
*.*sdf
*.suo
*.vcxproj.filters
src/makefile
src/config.status
src/config.log
src/.deps
src/autom4te.cache
src/autoscan.log
src/stamp-h1
src/makefile.in
*.o
*.blend?*
*.vcxproj.user